
---
Language:        Cpp
IndentWidth: 4
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: false
  AlignFunctionPointers: false
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: false
  AlignFunctionPointers: false
  PadOperators: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
AllowShortCaseExpressionOnASingleLine: true
BinPackArguments: false
BinPackParameters: OnePerLine
TabWidth: 4
InsertNewlineAtEOF: true
InsertBraces: true
LineEnding: LF
PointerAlignment: Left
IndentPPDirectives: AfterHash
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  AfterCaseLabel: true
  AfterNamespace: true
  AfterFunction: true
IndentCaseBlocks: true
